@font-face {
    font-family: 'potter';
    src: url(ParryHotter.ttf) format('opentype'); 
    font-weight: normal;
    font-style: normal;
    
}
.fundo {
    position: absolute;
    top: 5vw;
    left:5vw;
    width: 90vw;
    height: 40vw;
    text-align: center;
    background-size: cover;
    
   }
body{

    background-image: url('Hogwarts1.png');
    background-size: cover;
    
}
.botoesiniciais{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13vw;
    left: 38vw;
    text-align: center;

}
#personagens{
    font-size:larger;
    font-family: 'potter' ;
    background-color: gray;
    width: 20vw;
    height: 6.5vw;
   
    
 }
 #casas{
    font-size:larger;
    font-family: 'potter' ;
    background-color: gray;
    margin-top: 3vw;
    width: 20vw;
    height: 6.5vw;
    
 }
 #personagens:hover{
    color:red
 }
 #casas:hover{
    color:greenyellow
 }
 