.fundo {
    position: absolute;
    top: 5vw;
    left:5vw;
    width: 90vw;
    height: 40vw;
    background-color: black;
    text-align: center;
    background-image: url('./gol2.png');
    background-size: cover;
    border: solid 5px black;
   }
.painel {
   position: absolute;
    top: 42vw; 
    left:35vw; 
    text-align: center;

}  
#div2 {
   position: absolute; 
   top: 5vw; 
   left: 1vw; 
   width: 5vw; 
   height: 5vw; 
   text-align: center;
   background-image: url('./luva2.png');
   background-size: cover;
}
#div1 {
   position: absolute;
   top: 17.5vw;
   left: 40vw; 
   width: 5vw; 
   height: 5vw; 
   text-align: center;
   background-image: url('./bola1.png');
   background-size: cover;
}
#div3 {
   position: absolute;
   top: 17.5vw;
   left: 70vw; 
   width: 5vw; 
   height: 5vw; 
   text-align: center;
   background-image: url('./jogador1.png');
   background-size: cover;
}
body{
   background-color: purple;
   
}
#acima{
   background-color: yellow;
   color: black;
   width: 20vw;
   height: 10vw;
}
#esquerda{
   background-color: lightskyblue;
   width: 20vw;
   height: 10vw;
}

#direita{
   background-color: red;
   width: 20vw;
   height: 10vw;
}

#baixo{
    background-color: greenyellow;
    width: 20vw;
   height: 10vw;
}

#mudarbola{
   background-color:turquoise;
   width: 20vw;
   height: 10vw;
}

#mudarjogador{
   background-color: salmon;
   width: 20vw;
   height: 10vw;
}

#tempo{
   position: absolute;
   top: 48vw;
   left: 13vw;
   font-size:xx-large

}